* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #dcdcdc;
  height: 100%;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../img/1280px-Old_timer_structural_worker2.jpg");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}

.topnav {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: table;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right:auto;
  padding: 0;
  /* padding-top: 25%; */
  /* height: 50%; */
  width: 100%;
  max-width: 35rem;
  /* background-color: #262626; */
  /* color: #dcdcdc; */
  border-bottom: .0625rem solid black;
}

.fullWidth {
  max-width: none;
  width: 100%;
}

.topnav:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  color:inherit;
  display: table-cell;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.logo a {
  /* color: #f5f5f5; */
  color: inherit;
  padding: 0rem;
  margin: 0.25rem;
  text-decoration: none;
  /* font-size: 1.5rem; */
  float: left;
  font-weight: 700;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  /* border: 0.25rem solid #40a9ef;
  box-shadow: 1px 1px 0px 0 rgba(0, 0, 0, 1);
  text-shadow: 1px 1px 0 #ccc,; */
}

/* Top Menu */

.container {
  display:inline-block;
  float: right;
  margin: 0;
  padding: 0;
  /* margin-right: 0.25rem; */
}

.menu {
  display: table-cell;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
}

.menu a {
  display: block;
  float: left;
  color: inherit;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  margin:0;
}

.menu a:hover {
  /* border: 0.25rem solid darkgray; */
  background-color: #c53211;
  color: white;
}

.menu a.contact {
  color: #f6f6f6;
  background-color: #c53211;
}

@media screen and (max-width: 600px) {
  .menu li {float: none;}
}

.menu:after {
  content: "";
  display: table;
  clear: both;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.shrinkfont {
  font-size: 1rem;
}

.sticky + .content {
  padding-top: 10rem;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.narrowColumn {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 35rem;
}

.column25 {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

.column50 {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.column75 {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0;
}

.column90 {
  width: 90%;
  margin: auto;
  padding: 0;
}

.card {
  display: block;
  /* text-align: left; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0;
  max-width: 35rem;
  /* background-color: #e6e6e6; */
  /* background-color: #f2f2f2; */
  /* border: 0.0625rem solid darkgray; */
  font-size: 0.9rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: inherit;
}

.cardContent table {
  font-size: 0.9rem;
  margin-top: 1.25rem;
  margin-right:auto;
  margin-left: auto;
  /* width: 100%; */
  border-collapse: collapse;
}

.cardContent thead{
  /* border-top: 0.0625rem solid darkgray; */
  border-bottom: 0.1875rem solid darkgray;
}

.cardContent tfoot{
  border-top: 0.1875rem solid darkgray;
  /* border-bottom: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  text-align: left;
}

/* .card tbody tr{
  border-bottom: 0.0625rem solid darkgray;
} */

.cardContent tbody tr:nth-child(even){
  background-color: #e6e6e6;
}

/* .card th{
  text-align: left;
} */

.cardContent td{
  text-align: left;
}

input {
  width: 5rem;
  font-size: 0.9rem;
}

.cardHeader {
  width: 100%;
  border: 0.0625rem solid darkgray;
  background: #e6e6e6;
}

.cardHeader h1 {
  padding: 0.5rem;
}

.cardHeader:hover {
  background: #f2f2f2;
}

.cardHeader:after {
  content: "";
  display: table;
  clear: both;
}

.cardContent {
  border-bottom: 0.0625rem solid darkgray;
  border-right: 0.0625rem solid darkgray;
  border-left: 0.0625rem solid darkgray;
  overflow: hidden;
  max-height: none;
  transition: 0.4s;
}

.cardContent p {
  padding: 0.5rem;
  margin: 0;
}

.cardTitle {
  display: inline-block;
  float: left;
}

.cardButton {
  display: inline-block;
  float: right;
}

.hidden {
  height: 0;
}

.hidden:after {
  content: '\02796'; /* Unicode character for "plus" sign (+) */
  float: right;
  color:inherit;
  font-size: 0.5rem;
  margin-left: 0.25rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

button {
  background-color: #c53211;
  color: white;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin: 0;
  border: none;
}

.pageFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  max-width: 35rem;
  border-top: 0.0625rem solid darkgray;
  font-size: 0.8rem;
  color: darkgray;
  text-align: center;
}
