@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  height: 100%;
  font-size: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

/* a:hover {
  text-decoration: underline;
} */

h1 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

ul {
  padding: auto 0.5rem;
}

li {
  padding-top: 0.5rem;

}

table {
  font-size: 0.9rem;
  margin-top: 1.25rem;
  margin-right:auto;
  margin-left: auto;
  /* width: 100%; */
  border-collapse: collapse;
}

thead{
  /* border-top: 0.0625rem solid darkgray; */
  border-bottom: 0.1875rem solid darkgray;
}

tfoot{
  border-top: 0.1875rem solid darkgray;
  /* border-bottom: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  text-align: left;
}

/* .card tbody tr{
  border-bottom: 0.0625rem solid darkgray;
} */

tbody tr:nth-child(even){
  background-color: #f7f7f7;
}

/* .card th{
  text-align: left;
} */

td{
  text-align: left;
  font-size: inherit;
}

input {
  width: 5rem;
  font-size: 0.9rem;
}

p {
  font-size: 1rem;
  /* text-align: justify;
  text-justify: auto; */
  line-height: 1.5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row {
  margin-top: 0;
  margin-bottom: 0;
  margin-left:auto;
  margin-right:auto;
  padding: 0;
  width: 90%;
  overflow: hidden;
  max-width: 50rem;
}

.column25 {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

.column12p5 {
  float: left;
  width: 12.5%;
  margin: 0;
  padding: 0;
}

.column33 {
  float: left;
  width: 33.333%;
  margin: 0;
  padding: 0;
}

.column67 {
  float: left;
  width: 66.667%;
  margin: 0;
  padding: 0;
}

.column50 {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.column75 {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0;
}

.column90 {
  width: 90%;
  margin: auto;
  padding: 0;
}

.card {
  /* text-align: left; */
  margin: 0 auto 0 auto;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  max-width: 60rem;
  /* background-color: #e6e6e6; */
  /* background-color: #f2f2f2; */
  /* border: 0.0625rem solid darkgray; */
  font-size: 0.9rem;
  color: inherit;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.noHorPad {
  padding-left: 0;
  padding-right: 0;
}

.cardHeader {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: 0.0625rem solid black;
  padding: 0.25rem 0 0.25rem 0;
  color: inherit;
}

.cardHeader:hover {
  background: black;
  color: white;
}

.cardContent {
  /* border-bottom: 0.0625rem solid darkgray;
  border-right: 0.0625rem solid darkgray;
  border-left: 0.0625rem solid darkgray; */
  overflow: hidden;
  color: inherit;

}


.cardLinkList {
  display: block;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  text-decoration: none;
}

.cardLinkList:hover {
  text-decoration: underline;
}

.hidden {
  height: 0;
}

/* .hidden:after {
  content: '\02796'; // plus sign
  float: right;
  color:inherit;
  font-size: 0.5rem;
  margin-left: 0.25rem;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.toplevel > a {
  display: block;
  /* float: left; */
  padding: 5px;
  margin: 0;
  border: 1px solid black;
}

.sublevel {
  visibility: hidden;
  overflow: hidden;
}

button {
  background-color: #c53211;
  color: white;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin: 0.625rem;
  border: none;
}

.pageFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  /* max-width: 35rem; */
  width: 100%;
  /* border-top: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  color: lightgray;
  text-align: center;
}

#navbar {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto 0 auto;
  padding: 1rem 0 2rem 0;
  width: 100%;
  /* background-color: #646f6f; */
  color: inherit;
  max-width: 50rem;
  overflow: auto;
  /* border-bottom: .0625rem solid black; */
}

.shadow {
  box-shadow: 0 10px 6px -6px #777;
}

#pageHeader {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid black;
}

#pageHeader a {
  font-weight: 700;
  text-decoration: none;
}

#menuWrapper {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: auto;
  border-radius: 0;
}

#menu {
  display: inline-block;
  margin: 1rem 0 0 0;
  padding: 0;
  border-radius: 0;
  overflow: auto;
  /* background-color: #ecf0f1;
  border-radius: 0.75rem; */
}

#menu a {
  display: block;
  float: left;
  color: inherit;
  font-size: 0.9rem;
  padding: 0.55rem 1rem;
  text-decoration: none;
  margin: 0.5rem;
  border: 1px solid lightgray;
  /* border: 1px solid black; */
  /* border: 1px solid white; */
  border-radius: 1rem;
}

#menu a:hover {
  background-color: #3498db;
  color: white;
}

@media screen and (max-width: 600px) {

  .column25,
  .column33,
  .column50,
  .column67,
  .column75 {
    width: 100%;
  }

  #pageHeader {
    text-align: center;
  }

  #menu {
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin-top: 1.5rem;
  }

  #menu a {
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  #menu a:last-child {
    border-bottom: none;
  }

}
