@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,700");

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 100%;
  margin: 0;
  /* background-color: white; */
  transition: 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-origin: top;
  background-image: url("/img/escheresque.png");
  background-position: top left;
}

button {
  background-color: #c53211;
  color: white;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin: 0.625rem;
  border: none;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-left: 5px solid #3498db;
  border-bottom: 1px solid lightgray;
  color: black;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #3498db;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

h1 + div {
  overflow: hidden;
  padding: 1rem;
}

h2 + div {
  overflow: hidden;
  padding: 1rem;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

html {
  height: 100%;
}

li {
  padding-top: 0.5rem;

}

select {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0;
}

table {
  font-size: 0.9rem;
  /* margin-top: 1.25rem;
  margin-right:auto;
  margin-left: auto; */
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}

thead{
  /* border-top: 0.0625rem solid darkgray; */
  border-bottom: 0.1875rem solid darkgray;
}

th {
  position: sticky;
  top: 1px;
  padding: 0.5rem;
}

tbody {
  font-size: inherit;
}

tbody tr:nth-child(even){
  background-color: #f7f7f7;
}

tr {
  font-size: 0.9rem;
}

td{
  text-align: left;
  font-size: 0.9rem;
  padding: 0.4rem;
}

tfoot{
  border-top: 0.1875rem solid darkgray;
  /* border-bottom: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  text-align: left;
}

ul {
  padding: auto 0.5rem;
}

input {
  font-size: 0.9rem;
  width: 5rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.lightAccent {
  background-color: #f7f7f7;
}

.mediumAccent {
  background-color: #ecf0f1;
}

.darkAccent {
  background-color: #3498db;
}

.bigButton {
  font-family: "Raleway";
  font-weight: 400;
  display: block;
  margin: 1rem auto;
  padding: 2rem;
  font-size: 1.25rem;
  background-color: #ecf0f1;
  color: #3498db;
  text-align: center;
  text-decoration: none;
  transition: background-color 500ms;
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  max-width: 300px;
}

.bigButton:hover {
  animation-name: colorChange;
  animation-duration: 500ms;
  background-color: #3498db;
  color: white;
}

.column25 {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

.column12p5 {
  float: left;
  width: 12.5%;
  margin: 0;
  padding: 0;
}

.column33 {
  float: left;
  width: 33.333%;
  margin: 0;
  padding: 0;
}

.column67 {
  float: left;
  width: 66.667%;
  margin: 0;
  padding: 0;
}

.column50 {
  float: left;
  width: 50%;
  margin: 0;
  padding: 1rem;
}
.column75 {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0;
}

.column90 {
  width: 90%;
  margin: auto;
  padding: 0;
}

.column100 {
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 0;
}

.content {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: auto;
}


.hidden {
  height: 0;
  visibility: hidden;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pageFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  /* max-width: 35rem; */
  width: 100%;
  /* border-top: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  color: lightgray;
  text-align: center;
}

.menuTransition {
  transform: translateX(-100%);
}

.title {
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem;
  border-bottom: 1px solid black;
}

.subtitle {
  font-family: "Raleway";
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1rem;
}

/* Styling for the page header menu */

#navbar {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  height: 50px;
  width: 100%;
  color: black;
  transition: 200ms;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

#name {
  display: block;
  float: left;
  height: 32px;
  margin: 9px 1rem;
  text-decoration: none;
  transition: 200ms;
}

#hamburgerButton {
  display: block;
  float: right;
  height: 32px;
  margin: 9px 1rem;
  cursor: pointer;
  z-index: 200;
}


#menu {
  position: absolute;
  top: calc(4rem + 5px);
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 900;
  transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu a {
  display: block;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  margin: 0rem;
}

/* #menu a:nth-child(1) {
  font-size: 0.9rem;
  border-bottom: 1px solid black;
} */

#menu div {
  padding: 1rem;
  margin: 0;
  display: block;
  float: left;
  vertical-align: top;
  width: 50%;
}

#menu a:hover {
  background-color: #3498db;
  color: white;
}

#splashCard {
  /* position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 325px); */
  padding: 0;
  /* margin: 50px; */
  text-align: center;
  width: 300px;
  height: 450px;
  background-color: white;
  overflow: auto;
  box-shadow: 10px 8px 33px -6px rgba(0,0,0,0.63);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transform: rotate(-3deg); */
  border-radius: 1rem;
  z-index: 5;

}

#splashMenu {
  /* position: absolute;
  top: calc(50% - 200px);
  left: calc(50% + 25px); */
  padding: 1rem;
  /* margin: 50px; */
  text-align: center;
  width: 300px;
  height: 450px;
  background-color: white;
  overflow: auto;
  box-shadow: 10px 8px 33px -6px rgba(0,0,0,0.63);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transform: rotate(4deg); */
  border-radius: 1rem;
  z-index: 4;

}

#splashCard:hover {
  transform: rotate(0deg) scale(1.1);
}

#splashMenu:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  z-index: 10;
}

#verticalBar {
  position: absolute;
  width: 50%;
  height: 75%;
  background-color: lightgray;
  top: 0;
  left: 25%;
}

#splashPhoto {
  width: 300px;
  margin: auto;
  height: 300px;
  border: 1rem solid white;
  background-image: url("/img/test.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
}

#socialBar {
  display: block;
  max-width: 50rem;
  margin: auto;
  padding: 1%;
  overflow: auto;
  text-align: center;
  z-index: 4;
}

a > .socialIcon {
  width: 75px;
  overflow: auto;
}

.socialIcon {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  overflow: auto;
}

#splashName {
  width: 100%;
  height: auto;
  padding: 10px;
  max-width: 48rem;
  z-index: 4;
  /* border-bottom: 1px solid lightgray; */
}

#splashBio {
  display: block;
  float: left;
  width: 67%;
  overflow: auto;
  margin: auto;
  padding: 0 1rem;
  text-align: center;
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: inherit;
}

.result {
  font-weight: 700;
  background-color: #f7f7f7;
  border: 1px solid lightgray;
  border-radius: 1rem;
  width: 90%;
  margin: 1rem auto;
  padding: 0;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.tableDesc {
  text-align: left;
}

.tableSymbol {
  text-align: right;
  white-space: nowrap;
  width: 4rem;
}

.tableValue {
  text-align: left;
  width: 6rem;
}

.tableUnits {
  text-align: left;
  font-size: 0.75rem;
  color: darkgray;
  max-width: 4rem;
}

#MxGraphic {
  padding: 0;
  margin: auto;
  overflow: auto;
  width: 90%;
  height: 3rem;
}

#MrxBar {
  float: left;
  width: 50%;
  height: 1rem;
  background-color: #04ce9f;
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  z-index: 4;
  text-align: right;
  font-size: 0.9rem;
}

#MxDesignBar {
  float:left;
  width: 100%;
  height: 1rem;
  position: relative;
  border-top: 2px solid black;
}

#MaxBar {
  float: left;
  width: 75%;
  height: 1rem;
  /* background-color: #04ce9f; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 3;
  text-align: right;
  font-size: 0.9rem;
}

#MnxBar {
  float: left;
  width: 90%;
  height: 1rem;
  /* background-color: yellow; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  text-align: right;
  font-size: 0.9rem;
}

#MpxBar {
  float: left;
  width: 100%;
  height: 1rem;
  /* background-color: red; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  text-align: right;
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {

  .column25,
  .column33,
  .column50,
  .column67,
  .column75 {
    width: 100%;
  }

  /* #navbar {
    padding: 8px;
  } */

  /* #splashCard {
    left: calc(50% - 150px);
    top: 50px;
  }

  #splashMenu {
    left: calc(50% - 150px);
    top: 550px;
  }

  #splashBG {
    height: 1100px;
  } */

}
