@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,700");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 100%;
  margin: 0;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-left: 5px solid #3498db;
  border-bottom: 1px solid lightgray;
  color: black;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #3498db;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

h1 + div {
  overflow: hidden;
  padding: 1rem;
}

h2 + div {
  overflow: hidden;
  padding: 1rem;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.result > h2 {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-bottom: 1px solid lightgray;
  background-color: inherit;
}

ul {
  padding: auto 0.5rem;
}

li {
  padding-top: 0.5rem;

}

select {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0;
}

table {
  font-size: 0.9rem;
  /* margin-top: 1.25rem;
  margin-right:auto;
  margin-left: auto; */
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}

thead{
  /* border-top: 0.0625rem solid darkgray; */
  border-bottom: 0.1875rem solid darkgray;
}

th {
  position: sticky;
  top: 1px;
  padding: 0.5rem;
}

tbody {
  font-size: inherit;
}

tbody tr:nth-child(even){
  background-color: #f7f7f7;
}

tr {
  font-size: 0.9rem;
}

td{
  text-align: left;
  font-size: 0.9rem;
  padding: 0.4rem;
}

tfoot{
  border-top: 0.1875rem solid darkgray;
  /* border-bottom: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  text-align: left;
}

input {
  font-size: 0.9rem;
  width: 5rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.lightAccent {
  background-color: #f7f7f7;
}

.mediumAccent {
  background-color: #ecf0f1;
}

.darkAccent {
  background-color: #3498db;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.column25 {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

.column12p5 {
  float: left;
  width: 12.5%;
  margin: 0;
  padding: 0;
}

.column33 {
  float: left;
  width: 33.333%;
  margin: 0;
  padding: 0;
}

.column67 {
  float: left;
  width: 66.667%;
  margin: 0;
  padding: 0;
}

.column50 {
  float: left;
  width: 50%;
  margin: 0;
  padding: 1rem;
}
.column75 {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0;
}

.column90 {
  width: 90%;
  margin: auto;
  padding: 0;
}

.column100 {
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 0;
}


.card {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 2rem auto;
  padding: 0;
  /* width: 100%; */
  max-width: 50rem;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.cardHeader {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  border-bottom: 1px solid lightgray;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  color: inherit;
  /* border-left: 5px solid #3498db; */
}

.cardHeader:hover {
  background: #3498db;
  color: white;
}

.cardContent {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 1rem;
  overflow: hidden;
  color: black;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}


.cardLinkList {
  display: block;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  text-decoration: none;
}

.cardLinkList:hover {
  text-decoration: underline;
}

.bigButton {
  font-family: "Raleway";
  font-weight: 400;
  display: block;
  /* max-width: 20rem; */
  margin: 1rem;
  padding: 2rem;
  font-size: 1.25rem;
  background-color: #3498db;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 200ms;
}

.bigButton:hover {
  transform: translate(-3px, -6px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hidden {
  height: 0;
  visibility: hidden;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.toplevel > a {
  display: block;
  /* float: left; */
  padding: 5px;
  margin: 0;
  border: 1px solid black;
}

.sublevel {
  visibility: hidden;
  overflow: hidden;
}

button {
  background-color: #c53211;
  color: white;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin: 0.625rem;
  border: none;
}

.pageFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  /* max-width: 35rem; */
  width: 100%;
  /* border-top: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  color: lightgray;
  text-align: center;
}

.title {
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem;
  border-bottom: 1px solid black;
}

.subtitle {
  font-family: "Raleway";
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1rem;
}

/* Styling for the page header menu */

#navbar {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 3rem;
  padding: 1rem;
  width: 100%;
  color: black;
  overflow: auto;
  background-color: #ecf0f1;
  border-bottom: 5px solid #3498db;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  transition: 200ms;
}

#pageHeader {
  display: block;
  margin: auto;
  padding: 0;
  overflow: auto;
  max-width: 50rem;
  height: 2rem;
}

#name {
  display: block;
  float: left;
  height: 100%;
  text-decoration: none;
  transition: 200ms;
}

#hamburgerButton {
  display: block;
  float: right;
  height: 100%;
}

#menuButtonWrapper {
  display: block;
  float: right;
  overflow: auto;
  padding: 0.5rem 0;
}

#menuButton {
  margin-left: 1rem;
  padding: 0.25rem 1rem;
  background-color: #ecf0f1;
  line-height: 1.25rem;
  font-size: 0.75rem;
  background-color: white;
  color: #3498db;
  text-decoration: none;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #3498db;
}

#contactButton {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #3498db;
  line-height: 1.25rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

#menuWrapper {
  width: 100%;
  /* max-height: 0; */
  text-align: center;
  margin: auto;
  padding: 0 1rem;
  overflow: auto;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  max-width: 50rem;
}

#menu {
  display: block;
  float: right;
  margin: auto;
  padding: 0;
  border-radius: 0;
  overflow: auto;
  max-width: 50rem;
  /* border: 1px solid lightgray; */
  /* background-color: #ecf0f1; */
  /* border-radius: 0.75rem; */
}

#menu a {
  display: block;
  float: left;
  position: relative;
  text-align: left;
  /* float: left; */
  color: inherit;
  font-size: 0.8rem;
  padding: 0.25rem 1rem;
  text-decoration: none;
  margin: 0rem;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  /* border-right: 1px solid lightgray; */
  /* border: 1px solid lightgray; */
  /* border: 1px solid black; */
  /* border: 1px solid white; */
  /* border-radius: 1rem; */
}

/* #menu a:nth-child(1) {
  font-size: 0.9rem;
  border-bottom: 1px solid black;
} */

#menu div {
  padding: 1rem;
  margin: 0;
  display: block;
  float: left;
  vertical-align: top;
  width: 50%;
}

#menu a:hover {
  background-color: #3498db;
  color: white;
}

#splashBG {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  margin-bottom: 10%;
  padding: 0 3rem;
  background-color: #ecf0f1;
  border-bottom: 5px solid #3498db;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  background-color: #ecf0f1;
  background-image: url("/img/graph-paper.svg");
}

#coffeeStain1 {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 100px;
  left: calc(50% - 300px);
  z-index: 2;
  opacity: 0.5;
}

#coffeeStain2 {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 0px;
  left: calc(50% - 400px);
  z-index: 2;
  opacity: 0.5;
}

#eraserShavings {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 400px;
  left: calc(50% - 300px);
  z-index: 2;
}

#eraser {
  height: 355px;
  width: 495px;
  position: absolute;
  top: 400px;
  left: calc(50% - 300px);
  z-index: 2;
}

#calculator {
  height: 573px;
  width: 286px;
  position: absolute;
  top: 100px;
  left: calc(50% + 150px);
  z-index: 2;
  transform: rotate(20deg);
}

#splashCard {
  position: relative;
  top: 40px;
  left: calc(50% - 150px);
  padding: 0;
  margin: 0;
  text-align: center;
  width: 300px;
  /* max-width: 300px;
  max-height: 400px; */
  height: 450px;
  /* background: rgba(255, 255, 255, 0.75); */
  background-color: white;
  overflow: auto;
  box-shadow: 10px 8px 33px -6px rgba(0,0,0,0.63);
  transition: transform 0.5s ease-in-out;
  transform: rotate(-3deg);
  border-radius: 1rem;
  /* opacity: 0.5; */
  z-index: 3;

}

#splashCard:hover {
  transform: rotate(0deg);
}

#verticalBar {
  position: absolute;
  width: 50%;
  height: 75%;
  background-color: lightgray;
  top: 0;
  left: 25%;
}

#splashPhoto {
  width: 100%;
  /* max-width: 50rem; */
  margin: auto;
  height: 75%;
  border: 1rem solid white;
  background-image: url("/img/test.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
}

#socialBar {
  display: block;
  max-width: 50rem;
  margin: auto;
  padding: 1%;
  overflow: auto;
  text-align: center;
  z-index: 4;
}

a > .socialIcon {
  width: 75px;
  overflow: auto;
}

.socialIcon {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  overflow: auto;
}

#splashName {
  width: 100%;
  height: auto;
  padding: 10px;
  max-width: 48rem;
  z-index: 4;
  /* border-bottom: 1px solid lightgray; */
}

#splashBio {
  display: block;
  float: left;
  width: 67%;
  overflow: auto;
  margin: auto;
  padding: 0 1rem;
  text-align: center;
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: inherit;
}

.result {
  font-weight: 700;
  background-color: #f7f7f7;
  border: 1px solid lightgray;
  border-radius: 1rem;
  width: 90%;
  margin: 1rem auto;
  padding: 0;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.tableDesc {
  text-align: left;
}

.tableSymbol {
  text-align: right;
  white-space: nowrap;
  width: 4rem;
}

.tableValue {
  text-align: left;
  width: 6rem;
}

.tableUnits {
  text-align: left;
  font-size: 0.75rem;
  color: darkgray;
  max-width: 4rem;
}

#MxGraphic {
  padding: 0;
  margin: auto;
  overflow: auto;
  width: 90%;
  height: 3rem;
}

#MrxBar {
  float: left;
  width: 50%;
  height: 1rem;
  background-color: #04ce9f;
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  z-index: 4;
  text-align: right;
  font-size: 0.9rem;
}

#MxDesignBar {
  float:left;
  width: 100%;
  height: 1rem;
  position: relative;
  border-top: 2px solid black;
}

#MaxBar {
  float: left;
  width: 75%;
  height: 1rem;
  /* background-color: #04ce9f; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 3;
  text-align: right;
  font-size: 0.9rem;
}

#MnxBar {
  float: left;
  width: 90%;
  height: 1rem;
  /* background-color: yellow; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  text-align: right;
  font-size: 0.9rem;
}

#MpxBar {
  float: left;
  width: 100%;
  height: 1rem;
  /* background-color: red; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  text-align: right;
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {

  .column25,
  .column33,
  .column50,
  .column67,
  .column75 {
    width: 100%;
  }

  #name {
    font-size: 1.1rem;
  }

  #navbar {
    padding: 0.5rem;
  }

  .card {
    margin: 1rem;
  }

}
