* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background: #dcdcdc; */
  background-color: white;
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

table {
  font-size: 0.9rem;
  margin-top: 1.25rem;
  margin-right:auto;
  margin-left: auto;
  /* width: 100%; */
  border-collapse: collapse;
}

thead{
  /* border-top: 0.0625rem solid darkgray; */
  border-bottom: 0.1875rem solid darkgray;
}

tfoot{
  border-top: 0.1875rem solid darkgray;
  /* border-bottom: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  text-align: left;
}

/* .card tbody tr{
  border-bottom: 0.0625rem solid darkgray;
} */

tbody tr:nth-child(even){
  background-color: #e6e6e6;
}

/* .card th{
  text-align: left;
} */

td{
  text-align: left;
}

input {
  width: 5rem;
  font-size: 0.9rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg {
  background-image: url("/img/1280px-Old_timer_structural_worker2.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}

.topnav {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 3rem 0;
  padding: 25% 0.25rem 0.5rem 0.25rem;
  width: 100%;
  background-color: black;
  color: white;
  transition: 0.5s;
  /* border-bottom: .0625rem solid black; */
}

.topnav:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float:left;
  color:inherit;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  transition: 0.5s;
}

.logo a {
  color: inherit;
  padding: 0.25rem;
  margin: 0.25rem;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
}

.menu {
  float:right;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  transition: 1s;
}

.menu a {
  display: block;
  float: left;
  color: inherit;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  margin: 0.25rem 0.5rem;
  /* border: 1px solid #c53211; */
  border: 1px solid white;
  /* border-radius: 0.5rem; */
}

.menu a:hover {
  /* border: 0.25rem solid darkgray; */
  background-color: #c53211;
  color: white;
}

/* .menu:after {
  content: "";
  display: table;
  clear: both;
} */

.row {
  margin-top: 0;
  margin-bottom: 0;
  margin-left:auto;
  margin-right:auto;
  padding: 0;
  width: 100%;
  max-width: 72rem;
}

.redLeftBorder {
  border-left: 10px solid red;
}

.cyanLeftBorder {
  border-left: 10px solid cyan;
}

.sectionHeader {
  /* display: inline-block; */
  padding: 0.5rem 0 0.25rem 0;
  margin: 3rem 2rem 0 2rem;
  border-bottom: 1px solid lightgray;
  /* border-left: 1px solid lightgray;
  border-right: 1px solid lightgray; */
  /* background: linear-gradient(to bottom, #f7f7f7 0%,#ffffff 100%); */
  /* box-shadow: 0 -6px 6px -6px #777; */
}

.sectionHeader h1 {
  font-size: 1.25rem;
}

/* .rightOfTab {
  height: 100%
  border-bottom: 1px solid lightgray;
}

.sectionHeader:after {
  clear: both;
} */

.narrowColumn {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 35rem;
}

.column25 {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

.column33 {
  float: left;
  width: 33.333%;
  margin: 0;
  padding: 0;
}

.column67 {
  float: left;
  width: 66.667%;
  margin: 0;
  padding: 0;
}

.column50 {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.column75 {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0;
}

.column90 {
  width: 90%;
  margin: auto;
  padding: 0;
}

.card {
  /* text-align: left; */
  margin: 1rem 2rem 1rem 2rem;
  padding: 0;
  /* max-width: 35rem; */
  /* background-color: #e6e6e6; */
  /* background-color: #f2f2f2; */
  /* border: 0.0625rem solid darkgray; */
  font-size: 0.9rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.cardHeader {
  width: 100%;
  border-bottom: 0.0625rem solid darkgray;
  padding: 0.25rem 0 0.25rem 0;
  /* background: #e6e6e6; */
}

.cardHeader:hover {
  background: #f2f2f2;
}

.cardContent {
  /* border-bottom: 0.0625rem solid darkgray;
  border-right: 0.0625rem solid darkgray;
  border-left: 0.0625rem solid darkgray; */
  overflow: hidden;
}

.cardLinkList {
  display: block;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  text-decoration: none;
}

.cardLinkList:hover {
  background-color: #f2f2f2;
}

.hidden {
  height: 0;
}

/* .hidden:after {
  content: '\02796'; // plus sign
  float: right;
  color:inherit;
  font-size: 0.5rem;
  margin-left: 0.25rem;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

button {
  background-color: #c53211;
  color: white;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin: 0.625rem;
  border: none;
}

.pageFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  /* max-width: 35rem; */
  width: 100%;
  border-top: 0.0625rem solid darkgray;
  font-size: 0.8rem;
  color: darkgray;
  text-align: center;
}

@media screen and (max-width: 600px) {

  .column25,
  .column33,
  .column50,
  .column67,
  .column75 {
    width: 100%;
  }

  .topnav {
    padding-top: 0.5rem;
    margin-bottom: 0;
  }

  .logo {
    width: 100%;
    text-align: center;
    padding: 0.25rem;
    font-size: 1.5rem;
  }

  .menu {
    width: 100%;
    text-align: center;
    padding: 0.25rem;
  }

  .menu a {
    display: inline-block;
    float: none;
  }
