@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,700");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f1;
  /* background-color: white; */
  color: black;
  height: 100%;
  font-size: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

/* a:hover {
  text-decoration: underline;
} */

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0;
  cursor: pointer;
  background-color: #3498db;
  border-radius: 1rem 1rem 0 0;
  color: white;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0.5rem 0;
  cursor: pointer;
  background-color: lightgray;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

h1:before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  font-size: 0.7rem;
  /* float: right; */
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

h1 + div {
  overflow: hidden;
  border: 1px solid #3498db;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.result > h2 {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border-bottom: 1px solid lightgray;
  background-color: inherit;
}

ul {
  padding: auto 0.5rem;
}

li {
  padding-top: 0.5rem;

}

table {
  font-size: 0.9rem;
  /* margin-top: 1.25rem;
  margin-right:auto;
  margin-left: auto; */
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}

thead{
  /* border-top: 0.0625rem solid darkgray; */
  border-bottom: 0.1875rem solid darkgray;
}

th {
  position: sticky;
  top: 1px;
  padding: 0.5rem;
}

tbody {
  font-size: inherit;
}

tbody tr:nth-child(even){
  background-color: #f7f7f7;
}

tr {
  font-size: 0.9rem;
}

td{
  text-align: left;
  font-size: 0.9rem;
  padding: 0.4rem;
}

tfoot{
  border-top: 0.1875rem solid darkgray;
  /* border-bottom: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  text-align: left;
}

input {
  font-size: 0.9rem;
  width: 5rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row {
  margin: 0;
  padding: 0 3rem;
  width: 100%;
  overflow: hidden;
  max-width: 50rem;
  margin: auto;
  background-color: white;
  border: 1px solid lightgray;
}

.column25 {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

.column12p5 {
  float: left;
  width: 12.5%;
  margin: 0;
  padding: 0;
}

.column33 {
  float: left;
  width: 33.333%;
  margin: 0;
  padding: 0;
}

.column67 {
  float: left;
  width: 66.667%;
  margin: 0;
  padding: 0;
}

.column50 {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.column75 {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0;
}

.column90 {
  width: 90%;
  margin: auto;
  padding: 0;
}

.card {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 2rem auto;
  padding: 0;
  /* width: 100%; */
  max-width: 50rem;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.cardHeader {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  border-bottom: 1px solid lightgray;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  color: inherit;
  /* border-left: 5px solid #3498db; */
}

.cardHeader:hover {
  background: #3498db;
  color: white;
}

.cardContent {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 1rem;
  overflow: hidden;
  color: black;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}


.cardLinkList {
  display: block;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  text-decoration: none;
}

.cardLinkList:hover {
  text-decoration: underline;
}

.bigButton {
  font-family: "Raleway";
  font-weight: 400;
  display: block;
  width: 90%;
  /* max-width: 20rem; */
  margin: 1rem auto;
  padding: 2rem;
  font-size: 1.25rem;
  background-color: #3498db;
  /* border-radius: 1rem; */
  color: white;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-decoration: none;
}

.hidden {
  height: 0;
  visibility: hidden;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.toplevel > a {
  display: block;
  /* float: left; */
  padding: 5px;
  margin: 0;
  border: 1px solid black;
}

.sublevel {
  visibility: hidden;
  overflow: hidden;
}

button {
  background-color: #c53211;
  color: white;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin: 0.625rem;
  border: none;
}

.pageFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  /* max-width: 35rem; */
  width: 100%;
  /* border-top: 0.0625rem solid darkgray; */
  font-size: 0.8rem;
  color: lightgray;
  text-align: center;
}

.title {
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}

.subtitle {
  font-family: "Raleway";
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* Styling for the page header menu */

#navbar {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 3rem auto 3rem auto;
  padding: 0.5rem 0;
  width: 100%;
  color: black;
  overflow: auto;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

#pageHeader {
  display: block;
  margin: auto;
  padding: 0;
  overflow: auto;
  max-width: 50rem;
  border-bottom: 2px solid black;
}

#name {
  display: block;
  float: left;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  vertical-align: bottom;
  line-height: 24px;
  /* padding: 0.5rem 0; */
}

#hamburgerButton {
  display: block;
  float: right;
  height: 24px;
}

#menuButtonWrapper {
  display: block;
  float: right;
  overflow: auto;
  padding: 0.5rem 0;
}

#menuButton {
  margin-left: 1rem;
  padding: 0.25rem 1rem;
  background-color: #ecf0f1;
  line-height: 1.25rem;
  font-size: 0.75rem;
  background-color: white;
  color: #3498db;
  text-decoration: none;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #3498db;
}

#contactButton {
  margin-left: 1rem;
  padding: 0.25rem 1rem;
  background-color: #ecf0f1;
  line-height: 1.25rem;
  font-size: 0.75rem;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  overflow: hidden;
  border-radius: 1rem;
}

#menuWrapper {
  width: 100%;
  /* max-height: 0; */
  text-align: center;
  margin: auto;
  padding: 0 1rem;
  overflow: auto;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  max-width: 50rem;
}

#menu {
  display: block;
  float: right;
  margin: auto;
  padding: 0;
  border-radius: 0;
  overflow: auto;
  max-width: 50rem;
  /* border: 1px solid lightgray; */
  /* background-color: #ecf0f1; */
  /* border-radius: 0.75rem; */
}

#menu a {
  display: block;
  float: left;
  position: relative;
  text-align: left;
  /* float: left; */
  color: inherit;
  font-size: 0.8rem;
  padding: 0.25rem 1rem;
  text-decoration: none;
  margin: 0rem;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  /* border-right: 1px solid lightgray; */
  /* border: 1px solid lightgray; */
  /* border: 1px solid black; */
  /* border: 1px solid white; */
  /* border-radius: 1rem; */
}

/* #menu a:nth-child(1) {
  font-size: 0.9rem;
  border-bottom: 1px solid black;
} */

#menu div {
  padding: 1rem;
  margin: 0;
  display: block;
  float: left;
  vertical-align: top;
  width: 50%;
}

#menu a:hover {
  background-color: #3498db;
  color: white;
}

.result {
  font-weight: 700;
  background-color: #f7f7f7;
  border: 1px solid lightgray;
  border-radius: 1rem;
  width: 90%;
  margin: 1rem auto;
  padding: 0;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.tableDesc {
  text-align: left;
}

.tableSymbol {
  text-align: right;
  white-space: nowrap;
  width: 4rem;
}

.tableValue {
  text-align: left;
  width: 6rem;
}

.tableUnits {
  text-align: left;
  font-size: 0.75rem;
  color: darkgray;
  max-width: 4rem;
}

#MxGraphic {
  padding: 0;
  margin: auto;
  overflow: auto;
  width: 90%;
  height: 3rem;
}

#MrxBar {
  float: left;
  width: 50%;
  height: 1rem;
  background-color: #04ce9f;
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  z-index: 4;
  text-align: right;
  font-size: 0.9rem;
}

#MxDesignBar {
  float:left;
  width: 100%;
  height: 1rem;
  position: relative;
  border-top: 2px solid black;
}

#MaxBar {
  float: left;
  width: 75%;
  height: 1rem;
  /* background-color: #04ce9f; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 3;
  text-align: right;
  font-size: 0.9rem;
}

#MnxBar {
  float: left;
  width: 90%;
  height: 1rem;
  /* background-color: yellow; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  text-align: right;
  font-size: 0.9rem;
}

#MpxBar {
  float: left;
  width: 100%;
  height: 1rem;
  /* background-color: red; */
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  text-align: right;
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {

  .column25,
  .column33,
  .column50,
  .column67,
  .column75 {
    width: 100%;
  }

  .row {
    padding: 0 0.5rem;
  }

  #navbar {
    margin-top: 0.5rem;
  }

  #menu > div {
    display: block;
    width: 100%;
  }

  #name {
    font-size: 1.1rem;
  }

  /* #pageHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
  } */

  /* #navbar {
    margin-bottom: 1rem;
  } */

  /* #name,
  #menuButtonWrapper {
    display: block;
    float: none;
    text-align: center;
    padding: 0.5rem;
  } */

  .card {
    margin: 1rem;
  }

  /* #pageHeader {
    text-align: center;
  }

  #menu {
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin-top: 1.5rem;
  }

  #menu a {
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  #menu a:last-child {
    border-bottom: none;
  } */

}
